.navbar {
  background-color: #000;
}
.nav-link {
  color: white !important;
  font-weight: bold;
}
.btn {
  border-radius: 20px;
}



/*page acceuil*/
body {
  margin:0;
}

.header {
  position:relative;
  text-align:center;
  background-image: url(../img/wallpaper-site.jpeg);
  background-size: cover;
  background-position: 50% 30%;
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.contenair_article {
  background: #ffffff;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 60px 0;
}

.title_article {
  width: 90%;
  font-weight: 900;
  font-family: system-ui;
  max-width: 1240px;
  margin: 0 auto;
}

.custom_line {
  background-color: #1e73be; /* Couleur cyan */
  height: 4px; /* Épaisseur du trait */
  width: 20%; /* Largeur du trait */
  margin: 10px auto; /* Centre le trait avec une marge */
  margin-bottom: 50px;
}

.button-container {
  text-align: center; /* Centre le bouton */
  margin-top: 20px;
  margin-bottom: 40px;
}

.button-container a {
  display: inline-block; /* Permet d'appliquer du padding et des styles comme un bouton */
  background-color: #1e73be; 
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none; /* Supprime le soulignement */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s;
}

.button-container a:hover {
  background-color: #145a8d; 
}


.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
    
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    color: #000000;
  }
  
  p {
    margin-top: 10px;
    flex: 1;
    line-height: 1.4;
    color: #000000;
  }
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;
    
    h1 {
      font-size: 24px;
    }
  }
}

.ranking {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.ranking h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #000000;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category1 {
  border-radius: 12px;
  color: #000000;
  background-color: white;
  margin-bottom: 50px;
  padding: 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.category1:hover {
  transform: scale(1.05);
}

.category1 h2 {
  font-size: 1.3em;
  font-weight: bolder;
  color: #1e73be;
  margin-bottom: 10px;
}

.category1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #1e73be;
  object-fit: cover;
  margin-bottom: 15px;
}

.category1 ul {
  list-style: none;
  padding: 0;
}

.category1 ul li {
  font-size: 1em;
  padding: 5px;
  border-bottom: 1px solid #333;
}

.category1 ul li:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .container2 {
      flex-direction: column;
      align-items: center;
  }
}


/*création article*/

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-font-weight: bold;
  --bs-btn-bg: #1e73be;
  --bs-btn-hover-bg: #145a8d;
  --bs-btn-border-color: #1e73be;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1e73be;
  --bs-btn-hover-bg: #145a8d;
  --bs-btn-border-color: #1e73be;
}

/* articles views */
/* Conteneur principal */
.conteneur {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Titre principal */
.titre-centre {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Grille des articles */
.ligne {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.colonne-moyenne-4 {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

@media (max-width: 900px) {
  .colonne-moyenne-4 {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .colonne-moyenne-4 {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

/* Carte d'article */
.carte {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.carte:hover {
  transform: translateY(-5px);
}

.carte-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carte-corps {
  padding: 15px;
}

.carte-titre {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.carte-texte {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 15px;
}

.texte-secondaire {
  font-size: 0.9rem;
  color: #888;
}

/* Boutons */
.bouton {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.bouton-principal {
  background: #1e73be;
  color: white;
}

.bouton-principal:hover {
  background: #145a8d;
}

.bouton-avertissement {
  background: #1e73be;
  color: white;
}

.bouton-avertissement:hover {
  background: #145a8d;
}

.bouton-danger {
  background: #dc3545;
  width: 150px;
  color: white;
  border: none;
  cursor: pointer;
}

.bouton-danger:hover {
  background: #b52b38;
}

/* Gestion de l'espacement */
.espace-haut {
  margin-top: 20px;
}

.espace-haut-moyen {
  margin-top: 40px;
}

.marge-bas {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .carte-image-detail {
    height: 190px;
    margin: 0 auto;
  }
}


/* Vue de l'article*/

/* Conteneur principal */
.bloc-principal {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.marge-sup {
  margin-top: 30px;
}

/* Carte d'article */
.carte-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ombre-legere-alt {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-carte-detail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contenu-carte-detail {
  padding: 15px;
}

.titre-carte-detail {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.texte-annexe {
  font-size: 14px;
  color: #777;
}

.description-carte-detail {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

/* Boutons */
.bouton-action {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.bouton-retour-alt {
  background-color: #1e73be;
  color: #fff;
}

.bouton-modification {
  background-color: #1e73be;
  color: #fff;
}

.bouton-suppression {
  background-color: #dc3545;
  width: 150px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.bouton-suppression:hover {
  background-color: #c82333;
}

/* Formulaire */
.form-rapide {
  display: inline-block;
}



/* Réinitialisation des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteneur formulaire */
form {
  margin: auto;
  margin-bottom: 50px;
  background-color: #fff;
  /*padding: 2rem;*/
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #000000;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1.5rem;
  color: #000000;
}


/* Champs du formulaire */
form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

textarea {
  width: 100%;
}

input:focus {
  border-color: #1e73be;
  outline: none;
}

/* Bouton de soumission */
button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 20px;
  background-color: #1e73be;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #145a8d;
}

/* Messages d'erreur */
.text-danger {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/*conditions génèral d'utilisation*/

.title-legales{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 5px;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 15px;
  word-wrap: break-word;
}


/*footer*/
.site-footer
{
  background-color:#000000;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}